[Unit]
Description=Grow Light Automation

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/home/pi/.yarn/bin/growhaus

[Install]
WantedBy=multi-user.target
