[Unit]
Description=Grow Light Automation
Wants=network.target
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/home/growhaus-agent/.yarn/bin/growhaus-agent

#Environment="DRIVER_PWM_PIN=GPIO18"
#Environment="SERVER_URL=ws://localhost:3001"
#Environment="AGENT_NAME=growhaus-agent"
#Environment="BOARD=pi"

